@* Copyright 2011 Matt Cosand and others (see AUTHORS.TXT)
 *
 * This file is part of SARTracks.
 *
 *  SARTracks is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  SARTracks is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with SARTracks.  If not, see <http://www.gnu.org/licenses/>.
 *@
@model SarTracks.Website.Models.UnitStatusType

@using (Html.BeginForm("SaveStatus", "Organizations", FormMethod.Post, new { id = "StatusForm" }))
{
@Html.HiddenFor(f => f.Id)
<div>
@Html.LabelFor(f => f.Name)
@Html.TextBoxFor(f => f.Name)
@Html.ValidationMessageFor(f => f.Name)
</div>
    
    <div>
    @Html.LabelFor(f => f.IsActive)
    @Html.CheckBoxFor(f => f.IsActive)
    </div>
    <div>
    @Html.LabelFor(f => f.IsMissionQualified)
    @Html.CheckBoxFor(f => f.IsMissionQualified)
    </div>
}