@model SarTracks.Website.Models.UnitMembership
@using SarTracks.Website.Models;

<div id="MembershipDialog" title="Create Unit Membership" style="display:none;">
    <p class="validateTips"></p>

    <form method="post" id="NewMembershipForm" action="#">
    <input type="hidden" data-bind="value: OrganizationId" name="OrganizationId" />
    <input type="hidden" data-bind="value: Member.Id" name="Member.Id" />
    <div class="editor-label">  
    <label for="Member_FirstName">FirstName</label>
    </div>
    <div class="editor-field">
    <input type="text" data-bind="value: Member.FirstName" name="Member.FirstName">
    <span data-valmsg-replace="true" data-valmsg-for="Member.FirstName" class="field-validation-valid"></span>
    </div>
    <div class="editor-label">
    <label for="Member_LastName">LastName</label>
    </div>
    <div class="editor-field">
    <input type="text" data-bind="value: Member.LastName" name="Member.LastName">
    <span data-valmsg-replace="true" data-valmsg-for="Member.LastName" class="field-validation-valid"></span>
    </div>
    <div class="editor-label">
    <label for="Member_Gender">Gender</label>
    </div>
    <div class="editor-field">
    <select name="Member.Gender" data-bind="value: Member.Gender" data-val-required="The Gender field is required." data-val="true">
        <option>Unknown</option>
        <option selected="selected">Male</option>
        <option>Female</option>
    </select>
    <span data-valmsg-replace="true" data-valmsg-for="Member.Gender" class="field-validation-valid"></span>
    </div>
    <div class="editor-label">
    <label for="Member_BirthDate">BirthDate</label>
    </div>
    <div class="editor-field">
    <input type="text" data-bind="dateValue: Member.BirthDate" name="Member.BirthDate" id="Member_BirthDate" class="text-box single-line datepicker">
    <span data-valmsg-replace="true" data-valmsg-for="Member.BirthDate" class="field-validation-valid"></span>
    </div>
    <br>
    <fieldset>
        <legend>Membership with @Model.Organization.Name</legend>
        <div class="editor-label">
        <label for="Status">Current Status</label>
@*        @Html.DropDownListFor(m => m.Status.Id, new SelectList(Model.Organization.UnitStatusTypes.OrderByDescending(f => f.IsActive).ThenByDescending(f => f.IsMissionQualified), "Id", "Name", Model.Status.Id))*@
        <select name="Status.Id" data-bind="value: Status.Id">
        @foreach (var item in Model.Organization.UnitStatusTypes.OrderByDescending(f => f.IsActive).ThenBy(f => f.Name))
        {
            <option value="@item.Id">@item.Name</option>
        }
        </select>

        <span data-valmsg-replace="true" data-valmsg-for="Status" class="field-validation-valid"></span>
        </div>

        <div class="editor-label">
        <label for="WorkerNumber">Id/Card Number</label>
        <input type="text" data-bind="value: WorkerNumber" name="WorkerNumber" data-val="true" class="text-box single-line">
        <span data-valmsg-replace="true" data-valmsg-for="WorkerNumber" class="field-validation-valid"></span>
        </div>

        <div class="editor-label">
        <label for="Start">Effective Date</label>
        <input type="text" data-bind="dateValue: Start" name="Start" id="Start" data-val-required="The Start field is required." data-val="true" class="text-box single-line datepicker">
        <span data-valmsg-replace="true" data-valmsg-for="Start" class="field-validation-valid"></span>
        </div>
    </fieldset>
</form>
</div>

<script type="text/javascript">
    setupFormDialog($('#MembershipDialog'),
    450, 450,
    "Create User",
    '@Url.Action("SubmitUnitMembership")?mode=1',
    function (data) {
        rosterModel.members.push(data);
        return true; } //on success update table with new object
);

</script>