@* Copyright 2011 Matt Cosand and others (see AUTHORS.TXT)
 *
 * This file is part of SARTracks.
 *
 *  SARTracks is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  SARTracks is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with SARTracks.  If not, see <http://www.gnu.org/licenses/>.
 *@
@model SarTracks.Website.Models.Organization
@using SarTracks.Website.Controllers

@{
    ViewBag.Title = "Roster";
    ViewBag.Heading = @Model.Name + " Member Roster";
    bool canAdd = (bool?)ViewData[UnitsController.VIEWDATA_CANADDUSER] ?? false;
}

@if (canAdd)
{
<span class="AddMember ButtonLink"><img style="position:relative; top:4px; margin-top:-4px;" src="@Url.Content("~/content/images/add_member_24.png")" alt="Person" /> Add New Member</span>
<a href="@Url.Action("ImportRoster", new { q = @Model.Id })" class="ImportRoster ButtonLink"><img style="position:relative; top:4px; margin-top:-4px;" src="@Url.Content("~/content/images/add_member_24.png")" alt="Person" /> Import Roster</a>
}

<table cellspacing="0" class="data-table" id="table">
  <thead>
    <tr><th>Last Name</th><th>First Name</th><th>Designator</th><th>E-Mail</th><th>Primary Phone</th><th>Status</th></tr>
  </thead>
  <tbody data-bind="foreach: { data: members, afterRender: function() { updateSort($('#table')); }}">
    <tr>
        <td><a data-bind="attr: { href: '@Url.Action("Detail", "Members")/' + Id }, text: LastName"></a></td>
        <td><a data-bind="attr: { href: '@Url.Action("Detail", "Members")/' + Id }, text: FirstName"></a></td>
        <td data-bind="text: Designator"></td>
        <td data-bind="text: Email"></td>
        <td data-bind="text: Phone"></td>
        <td data-bind="text: Status"></td>
    </tr>
  </tbody>
  <tfoot>
  </tfoot>
</table>

<script type="text/html" id="row-template">

</script>

<script type="text/javascript">
    function RosterModel(rows) {
        var self = this;
        self.members = ko.observableArray(rows);
    }

    $(document).ready(function () {
        global_showProgress();
        $('#table').tablesorter({ widgets: ['zebra'], sortList: [[0,0],[1,0]]});

        $(".AddMember").click(function () {
            loadManagement('@Url.Action("RosterManagement")', { q: '@Model.Id' }, function () {
                var newMembership = new MembershipModel();
                newMembership.OrganizationId('@Model.Id');
                ko.applyBindings(newMembership, $("#MembershipDialog")[0]);
                $("#MembershipDialog").dialog("open");
            });
        });

        $.ajax({ type: 'POST', url: '@Url.Action("GetRosterList")', data: { q: '@Model.Id' }, dataType: 'json',
            success: function (data) {
                rosterModel = new RosterModel(data);
                ko.applyBindings(rosterModel, document.getElementById('table'));
            },
            complete: function () {
                global_hideProgress();
            }
        });
    });
</script>